<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'puzzleMain/css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'sudo/css/sudo_panel.css' %}">
    <title>Hello, Sudoku!</title>
    <style></style>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">Sudoku</a>
            <ul class="navbar-menu">
                <li><a href="#home" class="navbar-link">首页</a></li>
                <li><a href="#about" class="navbar-link">关于</a></li>
                <li><a href="#contact" class="navbar-link">联系</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-container">
        {% include 'sudo/sudo_panel.html' %}
    </div>
    <script></script>
</body>

</html>