<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'sudo/sudo_container.css' %}">

    <title>Hello, Sudoku!</title>
    <style></style>
</head>

<body>
    <div class="sudoku-container">
        <div class="sudoku-info">
            <span class="small-label">难度:</span>
            <span class="small-label">{{ difficulty }}</span>
            <span class="small-label">尝试次数:</span>
            <span class="small-label">{{ try_nums }}</span>
            <span class="small-label">成功次数:</span>
            <span class="small-label">{{ sloved_nums }}</span>
        </div>
        <div class="sudoku-game">
            <table id="sudoku" data-mark="{{ mark }}">
                {% for row in nums %}
                <tr>
                    {% for col in row %}
                    <td>{% if col != "0" %}{{ col }}{% endif %}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <div id="sudoku-hint">
                <div id="sudoku-hint-container"></div>
            </div>
        </div>
        <div class="sudoku-button">
            <button class="action-button" onclick="resetGame(this)">重置游戏</button>
            <button class="action-button" onclick="showHint(this)">开启提示</button>
        </div>
    </div>
    <script></script>
    <script src="{% static 'sudo/sudo_data_archive.js' %}"></script>
    <script src="{% static 'sudo/sudo_backen_api.js' %}"></script>
    <script src="{% static 'sudo/sudo_button_func.js' %}"></script>
    <script src="{% static 'sudo/sudo_game_logic.js' %}"></script>
</body>

</html>